.App {
  text-align: center;
  background-color: #1f2535;
  position: relative;
}

.ih-logo {
  width: 10vh;
  margin-right: 155vh;
}

.header {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  margin-top: 10vh;
  margin-left: 10vh;

}

.Logo-1 {
  width: 80vh;
  margin-left: 70vh;
  position: absolute;
}

.Logo-2 {
  width: 60vh;
  margin-top: 45vh;
  margin-left: 95vh;
  position: absolute;
}

.Logo-3 {
  width: 60vh;
  margin-top: 67vh;
  margin-left: 72vh;
  /* position: absolute; */
}

.Logo-4 {
  width: 30vh;
  margin-top: 40vh;
  margin-left: 5vh;
  position: absolute;
}

.Logo-5 {
  width: 30vh;
  margin-top: 60vh;
  margin-left: 5vh;
  position: absolute;
}

.Logo-6 {
  width: 30vh;
  margin-top: 78vh;
  margin-left: 5vh;
  position: absolute;
}